<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <a href="./koko">{{ path }}</a>

    <script>
      fetch("http://localhost:9999/api/paakopfkwoaaa")
        .then((res) => res.json())
        .then((json) => console.log(json));
    </script>
  </body>
</html>
